/*This stylesheet contains all styling for the results_sample html page*/

/******************************************** CSS for Banner Area ***************************************************/

/*Set a max width to the h1 element so tha the text will wrap after a certain point.*/
.top-banner img {
    min-height: 400px;
    max-height: 500px;
}

table {
    width: 100%;
    margin-top: 35px;
}

td, th {
    padding: 30px 0px;
    text-align: center;
}

th {
    background-color: #4a6f4a;
    color: #ffffff;
    font-weight: normal;
}

tr {
    border-bottom: 1px solid #cccccc;
}

tr:last-child {
    border-bottom: 0;
}

td h4 {
    color: #4a6f4a;
    margin-bottom: 10px;
}

td p {
    max-width: 75%;
    margin: 0 auto;
}
/******************************************** Media Query: 768px ***************************************************/

@media(max-width: 768px) {
    /*Reduce the height of the banner*/
    .top-banner {
        min-height: 375px;
    }
}
