
.banner-bg{
    background-image: url('../images/hiking_bg.jpg');    /*Specifies the background image to use*/
    background-size: cover;     /*Specifies the size of background image. By setting it to cover, it will automatically resize to cover the entire area of the div.*/
    background-attachment: fixed;    /*A fixed background attachment gives a parallax effect. It means that the background will stay fixed as the user scrolls the page.*/
    background-repeat: no-repeat;    /*By setting background repeat to no repeat, it will not repeat the background image multiple items if the size of the whole image cannot cover the entire div.*/
    background-position: center 100%;    /*The position of the background image can be controlled. Here, it is being centered horizontally and the image is pushed all the way to the top vertically.*/
}

/*Sets the height of the div to 500px so that the background image is shown properly and it uses flexbox to vertically align
the items inside the flexbox.*/
.top-banner{
    padding: 50px 0;
    min-height: 500px;
    display: flex;
    align-items: center;
}

/*Set a max width to the h1 element so tha the text will wrap after a certain point.*/
.top-banner h1{
    max-width: 300px;
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}
